@import 'styles/variables';

.menu{
    padding: 20px $padding-horizontal;
}

.header{

    height: 300px;
    padding: 0 $padding-horizontal;

    background: url('/assets/Menu/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;

    &__text{
        color: white;
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
    }

}